.@{gyul-prefix}-admin {

}

.@{gyul-prefix}-admin-menu {
    display: flex;
    flex-direction: column;
    &-toolbar {
        display: flex;
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.75);
    }
    .ant-menu {
        flex: 1;
    }
}