@import "~antd/es/style/themes/default.less";

@font-family: "Noto Sans KR", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,
"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

@primary-color: #08979c;

@body-background: #38424b;
@component-background: #434f5a;

@text-color: fade(#fff, 65%);

// // Layout
// @layout-body-background: #38424b;
// @layout-header-background: #343d45;

// // Collapse
// @collapse-header-bg: @component-background;
