.@{gyul-prefix}-monitoring {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    &-content {
        flex: 1;
        .ant-tabs {
            height: 100%;
            &-content {
                height: 100%;
            }
            &-tabpane {
                height: 100%;
            }
        }
    }
    &-panel {
        display: flex;
        flex-direction: column;
        height: 100%;
        &-header {
            height: 64px;
        }
        &-content {
            flex: 1;
            padding: 16px;
            .ant-card {
                margin-bottom: 16px;
                .ant-card-head {
                    border-bottom: 0;
                    font-size: 14px;
                    padding: 0 12px;
                }
                .ant-card-body {
                    padding: 8px;
                }
            }
        }
    }
}